<h2>Follower Users</h2>
			<table class="table">
				<thead>
					<tr>
						<th>image</th>
						<th>name</th>
						<th colspan="3"></th>
					</tr>
				</thead>

				<tbody>
					<% @users.each do |user| %>
					<tr>
						<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
						<td><%= user.name %></td>

						<td>
							<p><%= link_to follows_user_path(user) do %></p>
							<%= user.followers.count %>
							<% end %>
						</td>

							<td>
								<p><%= link_to followers_user_path(user) do %></p>
								<%= user.followings.count %>
								<% end %>
							</td>

									<td><%= link_to "Show", user_path(user), class: "user_#{user.id}" %></td>
								</tr>
								<% end %>
							</tbody>
						</table>